@import url(normalize.css);
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #555; }

a:link, a:visited {
  color: #5495BA; }

a:hover, a:active {
  color: #B54546; }

p code {
  display: inline-block;
  background-color: #f1f2f3;
  padding: 0 .5em;
  font-weight: 300; }

.site-header {
  position: fixed;
  float: left;
  width: 350px;
  padding: 4em 0 0 2em;
  box-sizing: border-box; }
  .site-header h1 {
    margin-bottom: 0; }
  .site-header h2 {
    margin: 0;
    font-weight: 300;
    line-height: 1.2em;
    color: #888; }

.site-content {
  max-width: 800px;
  padding-top: 4em;
  margin-bottom: 4em;
  margin-left: 398px; }

@media screen and (max-width: 800px) {
  body {
    font-size: 14px; }

  .site-header {
    position: relative;
    float: none;
    width: 100%;
    padding: 0 2em 2em;
    border-bottom: 3px solid #ccc;
    background-color: #f1f2f3; }
    .site-header h1 {
      margin-top: 0;
      padding-top: 1em; }

  .site-content {
    margin: 0 1.5em 0 2em;
    padding-top: 2em; } }
.entries {
  border-left: 3px solid #f1f1f1;
  padding: 0 0 0 30px; }

.entry {
  border-bottom: 1px solid #ccc;
  padding: 2em 0;
  position: relative; }
  .entry:last-child {
    border-bottom: none; }

.entry-title {
  font-weight: 400;
  margin: 0; }
  .entry-title:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 20px;
    background: #000;
    position: absolute;
    left: -44px;
    top: 44px; }
  .entry-title:after {
    content: '';
    display: block;
    position: absolute;
    top: 51px;
    left: -37px;
    width: 12px;
    height: 10px;
    background: transparent url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4wLjIsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMTEuMzE0cHgiIGhlaWdodD0iOS4xOTJweCIgdmlld0JveD0iMCAwIDExLjMxNCA5LjE5MiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTEuMzE0IDkuMTkyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iOS4xOTIsMCA0LjI0Myw0Ljk1IDIuMTIxLDIuODI4IDAsNC45NSAyLjEyMSw3LjA3MSA0LjI0Myw5LjE5MiA2LjM2NCw3LjA3MSAxMS4zMTQsMi4xMjEgIi8+DQo8L3N2Zz4NCg==) no-repeat 0 0; }

.is-future {
  color: #aaaaaa; }
  .is-future .entry-title {
    color: #aaaaaa; }
    .is-future .entry-title:before {
      border-color: #ccc;
      background: #fff; }

.entry-date {
  margin: 0;
  color: #bababa; }
